* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main{
    background-attachment: fixed;
}

.nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.nav-left {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left h1 {
    font-size: 22px;
    font-weight: 700;
    color: white;
    letter-spacing: 4px;
}

.nav-left h1:first-letter {
    font-size: 42px;
    color: rgb(167, 2, 249);
}

.nav-right {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
}

.nav-right h1 {
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-right h1:hover {
    color: #a702f9;
}

.content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
}

.content-left {
    width: 50%;
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 70px;
   letter-spacing: 5px;
   margin-left: 200px;
}

.content-left h3 {
    font-size: 22px;
    font-weight: 300;
}

.content-left h1 {
    font-size: 35px;
    font-family: 'EB Garamond', serif;
}

.content-left h1 span {
    font-size: 52px;
    color: #a702f9;
}

.content-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-right img {
    margin-bottom: 35px;
    height: 600px;
    opacity: 0.5;
    border-bottom-left-radius: 30%;
}




@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        position: static;
    }
    .nav-left, .nav-right {
        width: 100%;
        justify-content: center;
    }
    .nav-right {
        margin-top: 20px;
        gap: 20px;
        flex-wrap: wrap;
    }
    .nav-right h1 {
        font-size: 10px;
        margin: 10px 0;
    }
    .content {
        height: auto;
        padding-top: 0;
    }

    .content-left h3 {
        font-size: 16px;
    }

    .content-left h1 {
        font-size: 18px;
    }

    .content-left h1 span {
        font-size: 30px;
    }

    .content-left {
    
        margin-top: 0;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .content-left {
        margin-left: -10px;
    }

    .content-right {
        display: none;
    }

    .content-right img {
        height: auto;
        max-width: 40%;
        margin-top: 20px;
        display: none;
    }
}
